* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* comment out later */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: content-box #282c3c;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    /* overflow: hidden; */
}

header {
    /* font-family: cursive; */
    font-weight: 600;
    font-size: 4rem;
    margin: 1rem auto;
}
.text-outline {
    color: #fff;
    text-shadow:
      -.8px -.8px 0 #994B0B, /* Top-left shadow */
      .8px -.8px 0 #994B0B,  /* Top-right shadow */
      -2.7px 2.7px 0 #994B0B,  /* Bottom-left shadow */
      .8px .8px 0 #994B0B;   /* Bottom-right shadow */
  }

#board {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.card-container {
    margin: 9px;
    padding: 3px;
    width: 200px;
    height: 200px;
    perspective: 2700px;
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-container.face-up .card {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transform: rotateY(180deg);
}
.card-back {
    background-image: url('/image-sets/animals/cardback-zoo.png');
    background-color: #d9ff96;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: 20%;
}

#scores {
    display: flex;
    flex-flow: row wrap;
    margin: 5px auto;
    width: 100%;
    height: 9rem;
}
.player-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    font-size: 1.6rem;
}
.player--active {
    background-color: #BCD8C1;
}