* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* comment out later */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: content-box radial-gradient(limegreen, green);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    /* overflow: hidden; */
}

header {
    font-family: cursive;
    font-size: 4rem;
    margin: 1rem auto;
}

#board {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card {
    background-color: white;
    margin: 9px;
    padding: 3px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}

.card-container {
    width: 300px;
    height: 400px;
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-color: #333;
    color: #fff;
}
.card-back {
    background-color: #517fa4;
    color: #fff;
    transform: rotateY(180deg);
}

.facedown {

}

#scores {
    display: flex;
    flex-flow: row wrap;
    margin: 5rem auto;
}