* {
    font-family: sans-serif;
}

body {
    background: content-box radial-gradient(limegreen, green);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    /* overflow: hidden; */
}

header {
    font-family: cursive;
    font-size: 4rem;
    margin: 1rem auto;
}

#board {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card {
    background-color: white;
    margin: 9px;
    padding: 3px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}

.facedown {

}

#scores {
    display: flex;
    flex-flow: row wrap;
    margin: 5rem auto;
}